@using ShapeDungeon.DTOs.Rooms
@using ShapeDungeon.Helpers.Enums
@model RoomNavDto

<link rel="stylesheet" href="~/css/buttons.css" />
<div class="col-sm-6 position-relative">
    <div id="room"
         class="position-absolute top-50 start-50 translate-middle"
         style="height:50vh;width:50vh;border:solid 1rem white">
        @if (Model != null)
        {
             @if (Model.CanGoUp)
            {
                <div id="move-up"
                     class="position-relative translate-middle-y"
                     style="width:100%">
                    @if (Model.HasUpNeighbor)
                    {
                        <a 
                            type="button"
                            class="btn btn-outline-dark fixed-dir-btn up-dir-btn"
                            asp-controller="Room"
                            asp-action="Go"
                            asp-route-coordX="@Model.CoordX"
                            asp-route-coordY="@(Model.CoordY + 1)">
                            Go ⇧
                        </a>
                    }
                    else
                    {
                        <a 
                            type="button"
                            class="btn btn-outline-primary fixed-dir-btn up-dir-btn"
                            asp-controller="Room"
                            asp-action="Directional"
                            asp-route-direction="@RoomDirection.Top">
                            Create ⇧
                        </a>
                    }
                </div>
            }

            @if (Model.CanGoDown)
            {
                <div id="move-down"
                     class="position-absolute"
                     style="width:100%;height:100%">
                    @if (Model.HasDownNeighbor)
                    {
                        <a 
                            type="button"
                            class="btn btn-outline-dark fixed-dir-btn down-dir-btn"
                            asp-controller="Room"
                            asp-action="Go"
                            asp-route-coordX="@Model.CoordX"
                            asp-route-coordY="@(Model.CoordY - 1)">
                            Go ⇩
                        </a>
                    }
                    else
                    {
                        <a 
                            type="button"
                            class="btn btn-outline-primary fixed-dir-btn down-dir-btn"
                            asp-controller="Room"
                            asp-action="Directional"
                            asp-route-direction="@RoomDirection.Bottom">
                            Create ⇩
                        </a>
                    }
                </div>
            }

            @if (Model.CanGoLeft)
            {
                <div id="move-left"
                     class="position-absolute"
                     style="width:100%;height:100%;">
                    @if (Model.HasLeftNeighbor)
                    {
                        <a 
                            type="button"
                            class="btn btn-outline-dark fixed-dir-btn left-dir-btn"
                            asp-controller="Room"
                            asp-action="Go"
                            asp-route-coordX="@(Model.CoordX - 1)"
                            asp-route-coordY="@Model.CoordY">
                            Go ⇦
                        </a>
                    }
                    else
                    {
                        <a 
                            type="button"
                            class="btn btn-outline-primary fixed-dir-btn left-dir-btn"
                            asp-controller="Room"
                            asp-action="Directional"
                            asp-route-direction="@RoomDirection.Left">
                            ⇦ Create
                        </a>
                    }
                </div>
            }

            @if (Model.CanGoRight)
            {
                <div id="move-right"
                     class="position-absolute"
                     style="width:100%;height:100%;">
                    @if (Model.HasRightNeighbor)
                    {
                        <a 
                            type="button"
                            class="btn btn-outline-dark fixed-dir-btn right-dir-btn"
                            asp-controller="Room"
                            asp-action="Go"
                            asp-route-coordX="@(Model.CoordX + 1)"
                            asp-route-coordY="@Model.CoordY">
                            Go ⇨
                        </a>
                    }
                    else
                    {
                        <a 
                            type="button"
                            class="btn btn-outline-primary fixed-dir-btn right-dir-btn"
                            asp-controller="Room"
                            asp-action="Directional"
                            asp-route-direction="@RoomDirection.Right">
                            Create ⇨
                        </a>
                    }
                </div>
            }
        }

        <p id="enemy-level"
           style="top:20%;display:none;color:lightcoral"
           class="position-absolute start-50 translate-middle">
           Lvl.<span id="enemy-level-number">10</span>
       </p>
        <div id="selected-enemy-shape"
             style="height:10rem;width:10rem;background-color:red;display:none;"
             class="position-absolute top-50 start-50 translate-middle">
        </div>
    </div>
</div>