@using ShapeDungeon.DTOs.Enemies
@model EnemyDto

@{
    ViewBag.Title = "Create Enemy";
}

<div class="container" style="width:100vw;height:75vh">
    <div class="row text-center mt-4" style="height:10%">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="row align-items-center" style="height:80%">
        <form method="post" class="col-sm-6">
            <div class="btn-group" role="group" aria-label="Choose Shape:" style="width:100%">
              <input type="radio" class="btn-check" name="shape" id="square" asp-for="@Model.Shape" value="Square" checked>
              <label class="btn btn-outline-danger" for="square">Square</label>
              <input type="radio" class="btn-check" name="shape" id="triangle" asp-for="@Model.Shape" value="Triangle">
              <label class="btn btn-outline-danger" for="triangle">Triangle</label>
              <input type="radio" class="btn-check" name="shape" id="circle" asp-for="@Model.Shape" value="Circle">
              <label class="btn btn-outline-danger" for="circle">Circle</label>
            </div>

            <hr class="border-3 border-top border-danger">

            <div class="form-group row">
                <label for="enemy-name" class="col-sm-3 col-form-label">Enemy Name:</label>
                <div class="col-9">
                    <input type="text" class="form-control" asp-for="@Model.Name" placeholder="Squary" />
                </div>
            </div>

            <hr class="border-3 border-top border-danger">

            <div class="form-group row align-items-center">
                <label for="enemy-level" class="col-sm-3 col-form-label">Enemy Level:</label>
                <div class="col-2">
                    <input type="text" class="form-control-plaintext" readonly id="level" asp-for="@Model.Level" placeholder="5" />
                </div>
                <span class="col-7" style="font-size:0.85rem;color:gray;font-style:italic">(Enemy level is appended to the name, e.g. Squary Lvl.5)</span>
            </div>

            <hr class="border-3 border-top border-danger">

            <div class="form-group row">
                <label for="strength" class="col-sm-3 col-form-label">Strength:</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control-plaintext" id="strength" asp-for="@Model.Strength" value="2">
                </div>

                <label for="vigor" class="col-sm-3 col-form-label">Vigor:</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control-plaintext" id="vigor" asp-for="@Model.Vigor" value="5">
                </div>

                <label for="agility" class="col-sm-3 col-form-label">Agility:</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control-plaintext" id="agility" asp-for="@Model.Agility" value="1">
                </div>
            </div>

            <hr class="border-3 border-top border-danger">

            <div class="form-group row mx-auto" style="width:90%">
                <button class="btn btn-outline-danger text-center" type="submit">Create</button>
            </div>
        </form>


        <div class="col-sm-5 position-relative">
            <div
                id="selected-shape"
                style="height:10rem;width:10rem;background-color:red"
                class="position-absolute top-50 start-50 translate-middle"
            >
            </div>
        </div>
    </div>
</div>

<script src="~/js/enemy/create.js" type="module"></script>

@if (@TempData["error"] != null)
{
    <script>
        toastr.error("Enemy name and stats can't be empty.");
    </script>
}