@using ShapeDungeon.DTOs;
@using ShapeDungeon.Entities.Enums
@model CombatDto;

@{
    ViewBag.Title = "Shape Combat";
}

<div class="position-absolute"
     style="top:50%;left:25%;transform:translate(0%, -50%)">
    <div>
        <div style="height:10rem;width:10rem;">
            @if (Model.Player.Shape == Shape.Square)
            {
                <partial name="_ShapeSquarePlayer" />
            }
            else if (Model.Player.Shape == Shape.Triangle)
            {
                <partial name="_ShapeTrianglePlayer" />
            }
            else if (Model.Player.Shape == Shape.Circle)
            {
                <partial name="_ShapeCirclePlayer" />
            }
        </div>
        <h2>@Model.Player.Name</h2>
        <h3>@Model.Player.Shape</h3>
        <h4 id="player-strength">@Model.Player.Strength</h4>
    </div>
    <a class="btn btn-outline-danger" id="attack-btn">Attack</a>
</div>

<div class="position-absolute"
     style="top:50%;right:25%;transform:translate(0%, -50%)">
    <div>
        <div style="height:10rem;width:10rem;">
            @if (Model.Enemy.Shape == Shape.Square)
            {
                <partial name="_ShapeSquareEnemy" />
            }
            else if (Model.Enemy.Shape == Shape.Triangle)
            {
                <partial name="_ShapeTriangleEnemy" />
            }
            else if (Model.Enemy.Shape == Shape.Circle)
            {
                <partial name="_ShapeCircleEnemy" />
            }
        </div>
        <h2>@Model.Enemy.Name</h2>
        <h3>@Model.Enemy.Shape</h3>
        <h4 id="enemy-hp">@Model.CurrentEnemyHp</h4>
        <div class="btn-group" role="group" aria-label="Enemy Action Display" style="width:100%">
            <input type="radio" class="btn-check" name="enemy-action" id="enemy-action" value="atk-dmg" checked>
            <label class="btn btn-outline-danger" for="enemy-action">Attacking....</label>
           
        </div>
    </div>
</div>

<style>
    #selected-shape, #enemy-shape {
        top: 15%!important;
    }
</style>

<script>
    const attackBtn = document.getElementById("attack-btn");
    const enemyHpEl = document.getElementById("enemy-hp");
    const playerStrengthEl = document.getElementById("player-strength");

    attackBtn.addEventListener("click", attackEnemy);

    function attackEnemy() {
        fetch("/Combat/Test", {
            method: "PATCH",
            body: JSON.stringify( { hp: 54 }),
            headers: { "Content-type": "application/json;" }
        })
            .then(response => response.json())
            .then(() => updateEnemyHp())

    }

    function updateEnemyHp() {
        fetch("/Combat/Test2")
            .then(response => response.json())
            .then(enemyInfo => enemyHpEl.innerText = enemyInfo.hp);
    }
</script>
