@using ShapeDungeon.DTOs;
@using ShapeDungeon.Entities.Enums
@model CombatDto;

@{
    ViewBag.Title = "Shape Combat";
}

<div class="position-absolute"
     style="top:50%;left:25%;transform:translate(0%, -50%);width:15rem">
    <div>
        <div style="height:10rem;width:10rem;">
            @if (Model.Player.Shape == Shape.Square)
            {
                <partial name="_ShapeSquarePlayer" />
            }
            else if (Model.Player.Shape == Shape.Triangle)
            {
                <partial name="_ShapeTrianglePlayer" />
            }
            else if (Model.Player.Shape == Shape.Circle)
            {
                <partial name="_ShapeCirclePlayer" />
            }
        </div>
        <h4 class="mb-0">@Model.Player.Name</h4>
        <h6 class="fst-italic" style="color:gray">@Model.Player.Shape</h6>
        <div class="progress mb-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" id="player-health-bar"
                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            </div>
            <span id="player-current-hp" class="position-absolute" style="left:5%;color:lightgray">@Model.CurrentPlayerHp</span>
            <span id="player-total-hp" class="position-absolute" style="right:5%;color:white">@Model.TotalPlayerHp</span>
        </div>
    </div>
    <a class="btn btn-outline-danger" id="attack-btn">Attack</a>
</div>

<div class="position-absolute"
     style="top:50%;right:25%;transform:translate(0%, -50%);width:15rem">
    <div>
        <div style="height:10rem;width:10rem;">
            @if (Model.Enemy.Shape == Shape.Square)
            {
                <partial name="_ShapeSquareEnemy" />
            }
            else if (Model.Enemy.Shape == Shape.Triangle)
            {
                <partial name="_ShapeTriangleEnemy" />
            }
            else if (Model.Enemy.Shape == Shape.Circle)
            {
                <partial name="_ShapeCircleEnemy" />
            }
        </div>
        <h4 class="mb-0">@Model.Enemy.Name</h4>
        <h6 class="fst-italic" style="color:gray">@Model.Enemy.Shape</h6>
        <div class="progress mb-2" id="enemy-health-bar-container">
            <div class="progress-bar bg-danger" role="progressbar" id="enemy-health-bar"
                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            </div>
            <span id="enemy-current-hp" class="position-absolute" style="left:5%;color:lightgray">@Model.CurrentEnemyHp</span>
            <span id="enemy-total-hp" class="position-absolute" style="right:5%;color:white">@Model.TotalEnemyHp</span>
        </div>
        <div class="btn-group" role="group" aria-label="Enemy Action Display" style="width:100%">
            <input type="radio" class="btn-check" name="enemy-action" id="enemy-action" value="atk-dmg" checked>
            <label class="btn btn-outline-danger" for="enemy-action">Attacking....</label>
           
        </div>
    </div>
</div>

<style>
    #selected-shape, #enemy-shape {
        top: 15%!important;
    }

    #enemy-shape {
        transition: transform 5s;
    }

    body {
        overflow-y: hidden;
    }
</style>

<script src="~/js/combat/combat-action.js" type="module"></script>
