@    using ShapeDungeon.DTOs;
    using ShapeDungeon.DTOs.Player
@model PlayerDto

@{
    ViewBag.Title = "Create Player";
}

<div class="container" style="width:100vw;height:75vh">
    <div class="row text-center mt-4" style="height:10%">
        <h2>Create Player</h2>
    </div>
    <div class="row align-items-center" style="height:80%">
        <form method="post" class="col-sm-6">
            <div class="btn-group" role="group" aria-label="Choose Shape:" style="width:100%">
              <input type="radio" class="btn-check" name="shape" id="square" asp-for="@Model.Shape" value="Square" checked>
              <label class="btn btn-outline-success" for="square">Square</label>
              <input type="radio" class="btn-check" name="shape" id="triangle" asp-for="@Model.Shape" value="Triangle">
              <label class="btn btn-outline-success" for="triangle">Triangle</label>
              <input type="radio" class="btn-check" name="shape" id="circle" asp-for="@Model.Shape" value="Circle">
              <label class="btn btn-outline-success" for="circle">Circle</label>
            </div>

            <hr class="border-3 border-top border-success">

            <div class="form-group row">
                <label for="player-name" class="col-sm-3 col-form-label">Player Name:</label>
                <div class="col-9">
                    <input type="text" class="form-control" asp-for="@Model.Name" placeholder="Squary" />
                </div>
            </div>

            <hr class="border-3 border-top border-success">

            <div class="form-group row">
                <label for="strength" class="col-sm-3 col-form-label">Strength:</label>
                <div class="col-sm-1">
                    <input type="text" readonly class="form-control-plaintext" id="strength" asp-for="@Model.Strength" value="2">
                </div>

                <label for="vigor" class="col-sm-3 col-form-label">Vigor:</label>
                <div class="col-sm-1">
                    <input type="text" readonly class="form-control-plaintext" id="vigor" asp-for="@Model.Vigor" value="5">
                </div>

                <label for="agility" class="col-sm-3 col-form-label">Agility:</label>
                <div class="col-sm-1">
                    <input type="text" readonly class="form-control-plaintext" id="agility" asp-for="@Model.Agility" value="1">
                </div>
            </div>

            <hr class="border-3 border-top border-success">

            <div class="form-group row mx-auto" style="width:90%">
                <button class="btn btn-outline-success text-center" type="submit">Create</button>
            </div>
        </form>

        <div class="col-sm-5 position-relative">
            <div
                id="selected-shape"
                style="height:10rem;width:10rem;background-color:limegreen"
                class="position-absolute top-50 start-50 translate-middle"
            >
            </div>
        </div>
    </div>
</div>

<script src=~/js/player/create.js></script>

@if (@TempData["error"] != null)
{
    <script>
        toastr.error("Player name can't be empty.");
    </script>
}